
<div class="container-fluid contact-form p-0 mb-0 mt-0" id='contato'>
    <div class="text-center p-5">
        <a herf="#"><img src="/img/logo.png" class="logo ml-0"
            alt="" srcset="" /></a>
    
    </div>
    <hr class='bg-white'></hr>
    <form method="post">
        <h3 class="txt-contato">Contato</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="txt" name="txtName" class="form-control" placeholder="Nome" value="" />
                </div>
                <div class="form-group">
                    <input type="email" name="txtEmail" class="form-control" placeholder="Email" value="" />
                </div>
                <div class="form-group">
                    <input type="text" name="txtPhone" class="form-control" placeholder="Assunto"
                        value="" />
                </div>
                <div class="form-group">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Enviar" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="txtMsg" class="form-control" placeholder="Mensagem"></textarea>
                </div>
            </div>
        </div>
    </form>
    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
        <a href="#"> Ferrari Club SãoPaulo do Brasil</a>
    </div>
</div>






</footer>