<div class="container-fluid">
    <div class="row fixed-top">
        
        <nav class="navbar navbar-expand-lg navbar-dark w-100">
            
            <div class="img-logo">
                <img class="img-fluid" src="/img/Logo_SAN-PAOLO_Brazil.webp" alt="">
            </div>
            
            <button class="navbar-toggler m-2" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a class="nav-link amareloH" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <!-- <a class="nav-link amareloH" href="#novidades">Novidades</a> -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link amareloH" href="#contato">Contato</a>
                    </li>
                    <li class="nav-item amareloH">
                        <a class="nav-link amareloH dropdown-toggle" href="#" id='loginMenu' data-toggle='dropdown'
                            aria-haspopup="true" aria-expanded="false">                            
                            Usuário
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right LoginDrop">


                            <% if(log==0){ %>
                                <li class="px-3 py-2">
                                    <div className='row'>
                                        <div className='perfil'>
                                            <img src="/img/logo.png" className='img-fluid perfilFT py-1' />
                                        </div>
                                    </div>

                                    <form class="form" role="form" method="POST" action="/auth">
                                        <div class='perfil'>

                                        </div>
                                        <br></br>
                                        <div class="form-group">
                                            <input id="emailInput" placeholder="Email"
                                                class="form-control form-control-sm" type="email" name="email"
                                                required=""></input>
                                        </div>
                                        <div class="form-group">
                                            <input id="passwordInput" placeholder="Senha"
                                                class="form-control form-control-sm" type="password" name="senha"
                                                required=""></input>
                                        </div>
                                        <div class='msg-login txt-white text-center my-5'>

                                        </div>
                                        <div class="form-group">
                                            <button type="submit"
                                                class="btn btn-primary btn-block btnLogin">Login</button>
                                        </div>

                                        <div class="form-group text-center">
                                            <small><a href='/recuperar_senha' class='optionsLogin text-white'
                                                    data-target="#modalPassword">Esqueceu a
                                                    Senha?</a></small><br></br>
                                            <small><a href='/cadastro' class='optionsLogin text-white '>Quero
                                                    Cadastrar</a></small>
                                        </div>

                                    </form>
                                </li>
                                <% } else{ %>
                                    <li class="px-3 py-2">

                                        <div className='conatainer px-3 py-2'>
                                            <div className='row'>
                                                <div className='perfil'>
                                                    <img src="/img/logo.png" className='img-fluid perfilFT py-1' />
                                                </div>
                                            </div>
                                            <div className='opcoes mt-3' style='text-align:center'>
                                                <%if((user.id==1)||(user.id==54)){%>
                                                    <small>
                                                        <h5><a href="/admin"
                                                                class="text-white text-decoration-none font-weight-bold ">Admin</a>
                                                        </h5>
                                                    </small>
                                                    <hr className='' style="background-color: white; width: 50px;">
                                                    </hr>
                                                    <small>
                                                        <h5><a href="/users"
                                                                class="text-white text-decoration-none font-weight-bold ">Usuarios</a>
                                                        </h5>
                                                    </small>
                                                    <hr className='' style="background-color: white; width: 80px;">
                                                    </hr>

                                                    <%}%>
                                                        <small>
                                                            <h5><a href="/users"
                                                                    class="text-white text-decoration-none font-weight-bold ">Meus Palpites</a>
                                                            </h5>
                                                        </small>
                                                        <hr className='' style="background-color: white; width: 90px;">
                                                        <small>
                                                            <h5><a href="/concurso"
                                                                    class="text-white text-decoration-none font-weight-bold ">Concurso</a>
                                                            </h5>
                                                        </small>
                                                        <hr className='' style="background-color: white; width: 90px;">
                                                        </hr>

                                                        <small>
                                                            <h5><a href="/logout"
                                                                    class="text-white text-decoration-none font-weight-bold ">Sair</a>
                                                            </h5>
                                                        </small>
                                                        <hr className='' style="background-color: white">
                                                        </hr>
                                                        <div className='row'>
                                                            <div className='col-6'>
                                                                <small>
                                                                    <p className='text-white'></p>
                                                                </small>
                                                            </div>

                                                            <div className='col-6'>
                                                                <small>
                                                                    <p className='text-white font-weight-bold'
                                                                        style="color: white; font-weight: bold;">Pontos:
                                                                        <%=user.pontos%>
                                                                    </p>
                                                                </small>
                                                            </div>
                                                        </div>

                                            </div>

                                        </div>

                                    </li>
                                    <% } %>


                        </ul>

                    </li>
                </ul>
            </div>
        </nav>

    </div>
</div>