<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>Eventos</title>
</head>

<body>
    <%- include('components/navbar.ejs'); %>
    <br></br><br></br><br></br><br></br>
    <div class="container form-cadastro p-0 mb-0 mt-5">

        <form>
            <h3 class="txt-contato">Cadastrar Evento</h3>
            <hr class='bg-black'>
            </hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Titulo" />
                    </div>
                    <div class="form-group">
                        <select name="selectTipo" class="form-control">
                            <option disabled selected value>Selecione o Tipo de Evento:</option>
                            <option>Almoço</option>
                            <option>Reunião</option>
                            <option>Corrida</option>
                            <option>Jogo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Assunto" />
                    </div>

                    <div class="form-group row">

                        <div class='col-6'>
                            <label class='mx-auto'>Data</label>
                            <input type="date" class="form-control" />
                        </div>

                        <div class='col-6'>
                            <label class='mx-auto'>Hora</label>
                            <input type="time" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class='mx-auto'>Imagem</label>
                        <input type="file" class="form-control" />
                    </div>
                    <div class='row'>
                        <div class="line-loader"></div>
                         <div class="form-group"> <button type="button"class="btn btn-primary btn-block btnLogin">Publicar Evento</button> </div>
                               
                        



                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Descrição do Evento"></textarea>
                    </div>
                </div>


            </div>
        </form>
        <div class='msg-login txt-white text-center my-5'>
            <span class='text-black'><strong>OPS!</strong> Não foi possivel publicar seu
                vento, Volte mais tarde</span>
            <span class='text-black'><strong>OK!</strong> Evento Publicado</span>
        </div>
    </div>
    <%- include('components/footer.ejs'); %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>

</html>