
.container{
    font-family: 'Righteous', cursive;
    font-size: 20px;
    letter-spacing: 2px;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.concurso{
    border: solid 1px gray;
    border-radius: 15px;
}

.pole_txt{
    float: left;
    font-family: 'Righteous', cursive;
}

.pilotos{
    font-family: 'Righteous', cursive;
    font-size: 20px;
}

@media only screen and (max-width: 450px) {
    .pilotos{
        font-family: 'Righteous', cursive;
        font-size: 17px;
    }
  }
.linha{
    width: 10px;
    background-color: #ED1C24;
    border-radius: 2px;
    
}

.linha-M{
    width: 10px;
    background-color: #00D2BE;
    border-radius: 2px;
    
}

.linha-R{
    width: 10px;
    background-color: #0600EF;
    border-radius: 2px;
    
}

.linha-Mac{
    width: 10px;
    background-color: #FF8700;
    border-radius: 2px;
    
}

.linha-Ren{
    width: 10px;
    background-color: #FFF500;
    border-radius: 2px;
    
}

.linha-A{
    width: 10px;
    background-color: #960000;
    border-radius: 2px;
    
}

.linha-Turi{
    width: 10px;
    background-color: #fafafafa;
    border-radius: 2px;
}

.linha-P{
    width: 10px;
    background-color: #F596C8;
    border-radius: 2px;
}

.linha-H{
    width: 10px;
    background-color: #787878;
    border-radius: 2px;
}

.linha-W{
    width: 10px;
    background-color: #0082fa;
    border-radius: 2px;
}



.logo-turi{
    max-width: 10% !important;
    display: flex;
    align-items: center;
}

.maclaren{
    margin-top: 25%;
}

.form-check-input{
    margin-left: 20px !important;
}

.sf_video{
    border: 2px solid #ED1C24;
    border-radius: 5px;
}

.concurso{
    padding: 5px;
}



.Ferrari{
    background-color: #E20A25;
    transition: 0.25s;
}
/* th{
    width: 45%;
} */

.Ferrari:hover{
    background-color: #E20A25;
    transform: scalex(1.1);
    transition: 0.25s;
}



.logo_red, .logo_mc{
    max-width: 10% !important;
}
@media only screen and (max-width: 450px) {
    .Ferrari:hover{
        background-color: #E20A25;
        transform: scalex(1.0)!important;
        transition: 0.25s;
    }

    .RedBull:hover{
        background-color: #0600EF;
        transform: scalex(1.0) !important;
        transition: 0.25s;
    }

    .Mercedes:hover{
        background-color: #00D2BE;
        transform: scalex(1.0) !important;
        transition: 0.25s;
      }

      .McLaren:hover{
        background-color: #FF8700;
        transform: scalex(1.0) !important;
        transition: 0.25s;
      }

      .Renault:hover{
        background-color:#FFF500;
        transform: scalex(1.0) !important;
        transition: 0.25s;
        color: black;
    }

    .RacingPoint:hover{
        background-color:#F596C8;
        transform: scalex(1.0) !important;
        transition: 0.25s;
    }

    .Haas:hover{
        background-color:#787878;
        transform: scalex(1.0) !important;
        transition: 0.25s;
    }
    

    .Alpha_Tauri:hover{
        background-color:#fafafa;
        transform: scalex(1.0) !important;
        transition: 0.25s;
        color: black;
    }

    .Alfa_Romeo_Racing:hover{
        background-color:#960000;
        transform: scalex(1.0) !important;
        transition: 0.25s;
    }

    .Williams:hover{
        background-color:#0082fa;
        transform: scalex(1.0) !important;
        transition: 0.25s;
    }

    .logo_red, .logo_mc{
        max-width: 100% !important;
    }
  }


  .tabela{
      margin-left: 0px !important;
      margin-right: 0px !important;
  }

  .Mercedes{
      transition: 0.5s;
  }

  .Mercedes:hover{
    background-color: #00D2BE;
    transform: scalex(1.1);
    transition: 0.25s;
  }
  .Alpino:hover{
    background-color: #0090FF;
    transform: scalex(1.1);
    transition: 0.25s;
    }
    .Alpino{
        transition: 0.5s;
    }
    
    .Aston_Martin:hover{
        background-color: #006F62;
        transform: scalex(1.1);
        transition: 0.25s;
        }
        .Aston_Martin{
            transition: 0.5s;
        }

  .McLaren{
      transition: 0.5s;
  }

  .McLaren:hover{
    background-color: #FF8700;
    transform: scalex(1.1);
    transition: 0.25s;
  }
.hashtag{
    font-family: cursive !important;
}
  .RedBull{
      transition: 0.5s;
    }

.RedBull:hover{
    background-color: #0600EF;
    transform: scalex(1.1);
    transition: 0.25s;
}

.Renault{
    transition: 0.5s;
}

.Renault:hover{
    background-color:#FFF500;
    transform: scalex(1.1);
    transition: 0.25s;
    color: black;
}


.Alpha_Tauri{
    transition: 0.5s;
}

.Alpha_Tauri:hover{
    background-color:#fafafa;
    transform: scalex(1.1);
    transition: 0.25s;
    color: black;
}

.RacingPoint{
    transition: 0.5s;
}

.RacingPoint:hover{
    background-color:#F596C8;
    transform: scalex(1.1);
    transition: 0.25s;
}

.Alfa_Romeo_Racing{
    transition: 0.5s;
}

.Alfa_Romeo_Racing:hover{
    background-color:#960000;
    transform: scalex(1.1);
    transition: 0.25s;
}

.Haas{
    transition: 0.5s;
}

.Haas:hover{
    background-color:#787878;
    transform: scalex(1.1);
    transition: 0.25s;
}

.Williams{
    transition: 0.5s;
}

.Williams:hover{
    background-color:#0082fa;
    transform: scalex(1.1);
    transition: 0.25s;
}
.titulo{
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.btn_enviar:hover{
    background-color: #E20A25 !important;
    transition: 0.5s;
}

.teste1{
    height: 200px;
    width: 400px;
    background-color: #0082fa;
}