/* *,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}


.inicio{
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/banner1.png");
}
.blur{
-webkit-box-shadow: -1px -1px 38px 14px rgba(0,0,0,0.21);
-moz-box-shadow: -1px -1px 38px 14px rgba(0,0,0,0.21);
box-shadow: -1px -1px 38px 14px rgba(0,0,0,0.21);
}
li{
    font-size: 18px;
    font-weight: bold;
} */

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#ffffff !important;
}

.logo{
  width: 121px;
    height: 64px;
    margin-left: 20%;
}

.verde{
  height: 7px;
  background-color: green;
  width: 100%;
}


.branco{
  height: 7px;
  background-color: #fafafa;
  width: 100%;
}


.vermelho{
  height: 7px;
  background-color:#ec2300;
  width: 100%;
}

#navbarNav{
  text-align: end;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
}

a:hover{
transition: 0.5s!important;
color: #ec2300!important;
}

.banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/banner02.jpg");
  height: 45vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/banner02.jpg");
    height: 120vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}

.texto{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

.space{
  display: flex;
  justify-content: space-between;
}

.footer{
  background-color: #181818;
}

.nav-tabs .nav-link{
  margin: 10px;
  border-radius: 100px !important;
  transition: 0.5s !important;
  color: #ec2300 !important;
  font-weight: bold;
  background-color: #fafafa;
}

.nav-tabs .nav-link:hover{
  transition: 0.5s !important;
  background-color: #ec2300;
  letter-spacing: 4px;
  color: #fafafa !important;
}

.nav-tabs{
  border-bottom: none !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
color: black !important;
}

.nav-tabs{
  justify-content: center;
  display: flex;
}


.fab{
  color: #ec2300;
}

.fab:hover{
  transition: 0.5s;
  color: #fafafa;
}

/* .img-relative{
  -webkit-box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.5);
box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.5);
}

.img-la{
  background-image:url("../img/pilotos/1584013014200.jpg");
  width: 540px;
  height: 33vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-box-shadow: 0px 0px 26px 6px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 0px 26px 6px rgba(0,0,0,0.31);
  box-shadow: 0px 0px 26px 6px rgba(0,0,0,0.31);
}

.img-la-1{
  background-image:  url("../img/pilotos/1584013824254.jpg");
  width: 540px;
  height: 33vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-box-shadow: 0px 0px 26px 6px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 0px 26px 6px rgba(0,0,0,0.31);
  box-shadow: 0px 0px 26px 6px rgba(0,0,0,0.31);
}

.txt_piloto{
  text-align: center;
  position: absolute;
  bottom:2%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;

} */

.img-logo{
  margin-top: 40PX;
}

@media screen and (max-width: 500px) {
  .img-logo{
    margin-top: 0px !important;
  }

  .navbar{
    background-color: #181818;
    height: auto !important;
  }
}

.navbar{
  background-color: #181818;
  height: 77px;
}

.navbar-nav .nav-link{
  color: #ffffff !important;
}

.navbar-nav .nav-link:hover{
  color: #ec2300 !important;
  transition: 0.25s;
}

.navbar-nav{
  margin-right: 2%;
}

.news{
  background-color: #181818;
    
}

.bandeira{
  -webkit-box-shadow: 0px 7px 17px -3px rgba(255,255,255,0.29);
-moz-box-shadow: 0px 7px 17px -3px rgba(255,255,255,0.29);
box-shadow: 0px 7px 17px -3px rgba(255,255,255,0.29);
}



.anima{
  display: inline-block;
  margin: 0 0.5rem;
  margin-top: -73px;
  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  bottom: 2vw;
}

.divisor{
  background-color: #181818;
  border: 1px #181818;
  height: 2px;
  width: 100%;
}

.almocosR{
justify-content: center;
}

.agenda{
  height: 80.16% !important;
}

.tabTudo{
  display: flex;
  justify-content: center;
}

.meio{
  display: flex;
  justify-content: center;
}

.contact-form{
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 70%;
  background-color: #181818;
}
.contact-form .form-control{
  border-radius:1rem;
  
}
.contact-image{
  text-align: center;
  background-color: #181818;
}
.contact-image img{
  border-radius: 1rem;
  width: 11%;
  margin-top: -2%;
  padding: 1%;
  background-color: #181818;
  
}

.txt-contato{
  color: #ec2300 !important;
}
.contact-form form{
  padding: 14%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #ec2300;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: 0.5s !important;
}

.contact-form .btnContact:hover {
  transition: 0.5s !important;
  background-color: #fafafa;
  letter-spacing: 4px;
  color: #ec2300 !important;
}
.btnContactSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

.hora{
  font-size: 30px;
  color: #181818;
  font-weight: bold;
  font-family: 'Righteous', cursive;
  text-align: center;
}

#clockdiv{
  background-color: #F8E518;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #e20a25;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #181818;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

@media only screen and (min-width: 400px) {
  .circuito{
    max-width: 20%;
  }
}

.LoginDrop{
  margin-top: -2vw;
  margin-right: 3vw !important;
  background: linear-gradient(180deg, rgba(24,24,24,1) 20%, rgba(226,10,37,0.9220063025210083) 100%);
  border: 1px solid;
}

.btnLogin{
 
  background-color: #e20a25 !important;
  border: 2px solid #fafafa !important;
  transition: 0.5s;
  font-size: 19px;
  
  font-family: 'Righteous', cursive;
}


.btnLogin:hover{
  background-color: #fafafa !important;
  border: 2px solid #e20a25 !important;
  letter-spacing: 5px;
  transition: 0.25s;
  color: #181818 !important;
}

.optionsLogin{
  color: #fafafa;
  cursor: pointer;

}


.optionsLogin:hover{
  color: #00d130 !important;

}

.perfilFT{
  width: 50%;
}


.perfil{
  background-color: #e20a25;
  margin: 0px;
  border-radius: 33vw 1vw;
  padding: 0px;
  width: 100%;
  display: flex;
    justify-content: center;
}

.opcoes{
  text-align: center;
}

.listOptions{
  cursor: pointer;
}

.animacao{
  animation:animate__backInDown;
  animation-duration: 2s;
}

input[type="radio"] {
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
  transform: scale(1.3);
}

.desc{
  height: 100px;
  overflow: auto;

}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e20a25;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: 0.5s;
  
  background: #181818;
}
